*{
    
    box-sizing: border-box; 
}
body{
    font-family: Arial, tahoma, sans-serif;
}
.control-buttons{
    position: fixed ;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(3, 169, 244, 0.9);
}

.control-buttons span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background-color: #f44336;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.risk{
    position: fixed ;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgb(161, 157, 157,0.5);
    display: none;
}
.risk span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background-color: #f44336;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.info-continer{
    width: 1080px;
    margin: 20px auto 0;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #2196f3;
}
.info-continer .name{
    float: left;
    width: 50%;
}
.info-continer .tries{
    float: right;
    width: 50%;
    text-align: right;
}
img{
width: 140px;
height: 140px;
margin-top: 4px;

}
.memory-game-blocks{
    
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 20px auto;

}
.memory-game-blocks.noclicking{
    pointer-events: none;
}
.memory-game-blocks .game-block{
  
    height: 150px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    margin: 10px;
    position: relative;
    flex: 1 0 200px;
    margin: 0 10px 20px;

}
.memory-game-blocks .game-block .back{
background-color: #607d8b;

transform: rotateY(180deg);
}
.memory-game-blocks .game-block .front{
    background-color: #333;
    line-height: 150px;
}
.memory-game-blocks .game-block .front::before{
  content: '?';
  color: #f6f6f6;
  font-size: 140px ;
  font-weight: bold ;
}
.memory-game-blocks .game-block .face{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
    border: 2px solid #2196f3;
    border: 2px solid #2196f3;
}
.memory-game-blocks .game-block.is-flibed,.memory-game-blocks .game-block.has-matched{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

    transform: rotateY(180deg);
    pointer-events: none;

}
.info{
    width: 800px;
    margin: 30px auto 0;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #2196f3;
}
.info .playerName{
    float: left;
    width: 50%;
}
.info .triesplyer{
    float: right;
    width: 30%;
    text-align: center;
}
